# Machine Learning con Python


#### En un DataLake (explica qué es) selecciona una fuente de datos. Dataset o similar, en csv, json…

Un DataLake es un repositorio de almacenamiento que contienen una gran cantidad de datos en bruto y que se mantienen allí hasta que sea necesario.

Como fuente de datos he utilizado un Dataset en json llamado 'Alumnos.json' que creé yo misma con Java y subí a mi repositorio de GitHub: https://github.com/ady6/MachineLearning-Webscrapping/blob/82fb8b5ebc71e8efd6c3c592ae04af740a122cbc/Alumnos.json.

Este contiene un total de 6 columnas (id_Alumno, nombre, apellidos1, apellidos2, grupo, fecha_nacimiento) las cuales son el id, nombre, apellido paterno, apellido materno, grupo de clase y fecha de nacimiento del alumno. También tiene un total de 101 filas ya que los alumnos van de 0 a 100.

#### Utilizando Jupyter crea un notebook que permita acceder a la fuente de datos anterior y comprueba que estás mostrando los 10 primeros registros.

In [15]:
#importo la libreria pandas para manejar datos
import pandas as pd #con el alias pd

#ruta de archivo json, el cual se encuentra en mi repositorio de GitHub
url="https://raw.githubusercontent.com/ady6/MachineLearning-Webscrapping/master/Alumnos.json"
df = pd.read_json(url) #leo el archivo con pandas (pasando su url)
#muestro los datos del archivo realizando su debida conversión de tipos de datos para su correcto funcionamiento (to_string)
print(df.to_string())

     id_Alumno      nombre  apellidos1  apellidos2 grupo fecha_nacimiento
0            0        Pepe     Sánchez     Ramírez   DAM       22/11/1989
1            1         Leo   Hernández   Fernández   DAM       03/04/1994
2            2        Juan        Soto     Márquez   SMR       02/06/1991
3            3      Thiago     Santana      Ferrer   SMR       03/06/1992
4            4       Paula     Sánchez    Guerrero   SMR       25/05/1999
5            5      Sergio      Prieto        Mora   DAM       19/01/1993
6            6        Adam       Núñez        Mora  ASIR       01/11/1997
7            7     Gonzalo      Cortes      Martín  ASIR       14/05/1995
8            8   Alejandra     Carmona      Suárez   SMR       16/10/1986
9            9        Hugo      Medina     Jiménez   DAM       06/08/1993
10          10       Diego    Gallardo      Prieto   DAM       16/11/1997
11          11      Miguel   Rodríguez      Flores   SMR       05/07/1988
12          12        Inés   Caballero     Aguilar  ASIR       03/04/1993
13          13      Daniel    Martínez       Ramos  ASIR       03/01/1982
14          14         Noa      Molina        Soto   SMR       03/01/1999
15          15        Lara      Molina    Iglesias   DAM       12/06/1996
16          16        Enzo     Morales       Núñez   SMR       28/06/1999
17          17     Alberto       Ramos       Marín   SMR       20/01/1987
18          18     Ariadna     Morales      Crespo  ASIR       17/02/1985
19          19        Vera     Vázquez       Nieto   DAM       02/05/1984
20          20     Candela    Martínez      Suárez   DAM       17/05/1995
21          21        Izan     Gallego      Suárez  ASIR       26/02/1997
22          22   Alejandro      Medina        León  ASIR       29/11/1988
23          23      Blanca      Crespo      Méndez  ASIR       17/08/1985
24          24        Alma        Moya        Díaz   SMR       12/11/1986
25          25      Oliver      Medina      Méndez   SMR       31/10/1993
26          26     Carlota      García      Medina   SMR       12/03/1998
27          27      Víctor    Carrasco       Vidal  ASIR       12/04/1991
28          28      Manuel        Moya     Benítez  ASIR       21/04/1995
29          29       Mateo      Pastor       Nieto   SMR       23/02/1998
30          30       Rocío       Ramos      Casado  ASIR       12/01/1982
31          31   Valentina       Durán      Lozano  ASIR       24/07/1990
32          32      Ainara       Reyes        Cano   DAM       07/07/1984
33          33        Laia      Flores         Gil  ASIR       11/11/1984
34          34       Rubén      Romero        Peña   SMR       08/05/1989
35          35      Adrián     Álvarez       Reyes   SMR       16/07/1986
36          36   Guillermo     Ramírez     Vázquez   SMR       16/05/1992
37          37       Leire      Alonso      Blanco   DAM       22/05/1994
38          38       Mario    Iglesias     Benítez   SMR       19/01/1989
39          39      Álvaro   Fernández        Soto   SMR       30/03/1994
40          40       Irene     Esteban     Hidalgo   DAM       27/11/1989
41          41       Clara     Herrero    Iglesias   DAM       28/09/1991
42          42      Héctor       Bravo   Rodríguez   DAM       15/06/1992
43          43      Triana       Ortiz   Caballero   SMR       22/04/1999
44          44      Javier     Herrero    Gallardo   SMR       03/02/1982
45          45       Aaron       Parra       Rojas  ASIR       07/06/1985
46          46        Marc     Velasco     Vicente   SMR       29/10/1993
47          47       Carla       Vidal        Soto   SMR       17/01/1985
48          48      Samuel       Núñez      Prieto   DAM       05/12/1998
49          49      Aitana        Sáez       Arias  ASIR       15/03/1985
50          50       Pablo     Gallego     Garrido  ASIR       16/09/1982
51          51       Lucas     Lorenzo     Benítez   DAM       17/01/1984
52          52      Carmen     Serrano        Soto  ASIR       12/09/1985
53          53     Daniela     Carmona       López  ASIR       05/10/1988
54          54      Olivia     Esteban     Ramírez   SMR       31/07/1980
55          55       Sofía        Vega     Benítez   SMR       10/12/1983
56          56         Mía        Sáez      Méndez  ASIR       10/06/1990
57          57       Jorge      Molina      Torres   DAM       18/11/1992
58          58       Darío   Hernández     Navarro   DAM       30/07/1996
59          59        Iker        Díaz       Rojas   SMR       13/12/1990
60          60       Julia       Soler       Arias   DAM       15/01/1995
61          61        Vega       Rojas     Montero   SMR       13/07/1997
62          62        Alex         Gil       Román   DAM       30/06/1980
63          63       David      Blanco     Benítez  ASIR       12/06/1991
64          64       Dylan       Núñez     Herrero  ASIR       06/08/1996
65          65     Nicolás      Castro      Cortes   DAM       30/03/1989
66          66     Claudia    Iglesias     Vicente   DAM       26/06/1996
67          67       Ángel     Delgado      García   DAM       19/11/1991
68          68       Marco      Moreno       Ramos   DAM       14/01/1993
69          69      Ainhoa      Campos     Lorenzo   DAM       21/03/1988
70          70      Martín       Calvo    Martínez   DAM       22/06/1999
71          71        Emma     Vicente       Marín   DAM       22/08/1994
72          72      Carlos      Medina     Sánchez   DAM       18/05/1987
73          73     Antonio        Vega        Soto  ASIR       03/12/1983
74          74        Alba        León    Gallardo   DAM       07/11/1986
75          75       Jesús       Ortiz      Castro   DAM       13/08/1991
76          76     Adriana   Rodríguez     Esteban  ASIR       18/12/1984
77          77       Aitor       Muñoz   Rodríguez   SMR       24/08/1994
78          78     Martina      Lozano     Jiménez  ASIR       05/11/1983
79          79        Elsa       Soler      Martín   SMR       05/11/1995
80          80       Elena        Peña     Garrido  ASIR       30/10/1995
81          81      Marina    Santiago       Gómez   DAM       25/01/1981
82          82        Iván       Bravo     Vicente   DAM       23/03/1997
83          83        Eric   Rodríguez       Pérez   SMR       02/12/1986
84          84     Gabriel     Montero      Crespo   DAM       09/03/1999
85          85       Nerea     Velasco       Marín   DAM       07/03/1990
86          86       Lucía         Gil       Muñoz  ASIR       26/01/1988
87          87      Marcos        Cano      Ortega   DAM       10/09/1995
88          88       Bruno      Lozano    Guerrero  ASIR       24/01/1994
89          89        Lola      Campos   Fernández   SMR       29/10/1987
90          90        José      Ortega      García  ASIR       27/08/1985
91          91     Valeria       Durán      Méndez   DAM       18/05/1985
92          92       Laura       Calvo     Hidalgo   DAM       10/09/1985
93          93      Jimena    Carrasco     Benítez  ASIR       15/06/1988
94          94       Marta       Reyes    Iglesias   SMR       17/06/1983
95          95      Alicia        Díez        Peña  ASIR       13/05/1996
96          96       María     Gallego        Sáez  ASIR       05/05/1991
97          97       Chloe       Gómez       Román   DAM       30/10/1980
98          98        Nora        Peña      Moreno   DAM       28/07/1999
99          99         Ana       Arias     Pascual   SMR       26/07/1992
100        100        Sara     Navarro    Castillo   SMR       31/12/1992

In [16]:
#utilizo el método head() de Pandas para mostrar las primeras n filas (en este caso 10) del dataframe 
df.head(10)

   id_Alumno      nombre  apellidos1  apellidos2 grupo fecha_nacimiento
0          0        Pepe     Sánchez     Ramírez   DAM       22/11/1989
1          1         Leo   Hernández   Fernández   DAM       03/04/1994
2          2        Juan        Soto     Márquez   SMR       02/06/1991
3          3      Thiago     Santana      Ferrer   SMR       03/06/1992
4          4       Paula     Sánchez    Guerrero   SMR       25/05/1999
5          5      Sergio      Prieto        Mora   DAM       19/01/1993
6          6        Adam       Núñez        Mora  ASIR       01/11/1997
7          7     Gonzalo      Cortes      Martín  ASIR       14/05/1995
8          8   Alejandra     Carmona      Suárez   SMR       16/10/1986
9          9        Hugo      Medina     Jiménez   DAM       06/08/1993

#### Utiliza el método describe e info de Python y explica brevemente los resultados.

In [11]:
df.describe()

        id_Alumno
count  101.000000
mean    50.000000
std     29.300171
min      0.000000
25%     25.000000
50%     50.000000
75%     75.000000
max    100.000000

El método describe devuelve información estadística de los datos del dataframe (de hecho, este método devuelve un dataframe). En este caso, esta información incluye el número de alumnos (101 ya que van de 0 a 100), el valor medio (en este caso 50), la desviación estándar (indica cuánto se agrupan los datos alrededor de la media de estos), el valor mínimo (en este caso el alumno de id 0), máximo (el alumno con id 100) y los valores correspondientes a los percentiles 25%, 50% y 75% (en este dataframe conocer estos valores es muy poco útil ya que serán idénticos a los porcentajes ya que se hacen sobre 100 alumnos y el 100% es el porcentaje total).

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_Alumno         101 non-null    int64
 1   nombre            101 non-null    object
 2   apellidos1        101 non-null    object
 3   apellidos2        101 non-null    object
 4   grupo             101 non-null    object
 5   fecha_nacimiento  101 non-null    object
dtypes: int64(1), object(5)
memory usage: 4.9+ KB

El método info muestra el resumen del dataframe.
Como podemos ver, devuelve la siguiente información: número de filas (de 0 a 100, en total 101 filas), número y nombre de columnas (en este caso 6:  id_Alumno, nombre, apellidos1, apellidos2, grupo, fecha_nacimiento), índices de las filas, valores no nulos, tipo de las columnas (el id como entero y el resto como objetos) y su cantidad (1 int y 5 object), y la memoria usada (4.9KB).